	
	<!-- Side Full -->
	<div class="side-full">
		
		<!-- More Products -->
		<div class="more-products">
			<div class="more-products-holder">
				<ul>
					<% @products.each do |product| %>
					   	<li>
					   		<%= link_to product do %>
	            				<%= image_tag product.image_url(:small) %>
	        				<% end %>
					   	</li>
					 <% end %>	
				</ul>
			</div>
			<div class="more-nav">
				<a href="#" class="prev">previous</a>
				<a href="#" class="next">next</a>
			</div>
		</div>
		<!-- End More Products -->	
	</div>
	<!-- End Side Full -->
	